{"arc_path": "/home/nvidia/images/archive", "autoexposure": 1, "cap_path": "/home/nvidia/images/capture", "cfg": "yolo", "check_sensor_state_interval_seconds": "6", "darknet_path": "/home/nvidia/Horus/darknet/", "db": "mysql://root:nvidia@localhost:3306/miner?charset=utf8", "detect_path": "/home/nvidia/images/detect", "host_ip": "192.168.0.101", "host_port": 7777, "imagesize": "3", "level": "1", "log_path": "tmp/Horus.log", "max_connect": 20, "max_length": 2000, "model": "coco", "probability": "0.3", "time_frequency": "500", "time_out": 20, "weight": "yolo", "whitebalance": "1"}